* {
    box-sizing: border-box; 
}

html {
  scroll-behavior: smooth; 
}

body {
  display: flex; 
  flex-direction: column; 
  justify-content: space-between; 
  min-height: 100vh; 
  margin: 0; 
  padding: 0; 
  font-family: 'Manrope', sans-serif; 
  font-size: 18px; 
  font-weight: 400; 
  line-height: 1.5; 
}

header {
  border: 1px solid #4682B4; 
  font-family: 'EB Garamond', serif; 
  font-size: 18px; 
  font-weight: 400; 
  line-height: 1.5; 
}

main {
  border: 1px solid #4682B4; 
}

footer {
  text-align: right; 
  border: 1px solid #4682B4; 
}

h2 {
  text-align: center; 
}

.underline {
  text-decoration: underline; 
}

.container {
    max-width: 1440px; 
    margin: 0 auto; 
}

.main-container {
    display: flex; 
    flex-wrap: wrap; 
}
  
.section {
    width: 50%; 
}

.nav-list {
    display: flex; 
    justify-content: flex-end; 
    align-items: center; 
    gap: 5%; 
    list-style: none; 
}

.link {
    text-decoration: none; 
    color: #829985; 
    transition: color 0.5s; 
}
  
.link:hover {
    color: #5d7260; 
}

.avatar {
    text-align: center; 
}

